/* HeroSection.css */

.hero-section {
    background-color: white;
    background-size: cover;
    height: 100vh; /* Set the height of the Hero section as per your requirement */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
  }
  
  .hero-title {
    
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: black;
  }
  /* h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: black;
  } */
  p{
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: black;
  }
  .hero-subtitle {
    font-size: 24px;
    margin-bottom: 40px;
    font-family: 'Oswald', sans-serif;
    color: black;
  }
  
  .hero-button {
    background-color: #007bff;
    color: #fff;
    padding: 16px 32px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  