.main-footer {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
   align-items: center;
    color: black;
    background-color:azure;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    cursor: pointer;

}
.col-list{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}